.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 15px;
    height: 400px;
  }
  .grid-container > div {
    background-color: rgba(252, 246, 246, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
     .box1{
      background-color: red;
      background-image: linear-gradient(to bottom left, rgb(202, 82, 102), rgb(226, 173, 73));
      grid-column-start: 1;
      grid-column-end: 2;  
    }
     .box2{
      background-color: purple;
      background-image: linear-gradient(to bottom left, purple, rgb(204, 40, 163),rgb(233, 179, 188));
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;  
      }
      .box3{
        background-image: linear-gradient(to bottom left, rgb(112, 112, 233),rgb(125, 221, 125) );
        grid-column-start: 5;
        grid-column-end: 7;  
        
      }
      .box4{
        background-color: red;
        background-image: linear-gradient(to bottom left,  rgb(202, 82, 102), rgb(226, 173, 73));
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;  
      }
      .box5{
        background-color: red;
        background-image: linear-gradient(to bottom left, rgb(112, 112, 233),rgb(125, 221, 125) );
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 7;  
      }
      .box6{
        background-color: red;
        background-image: linear-gradient(to bottom left,  rgb(202, 82, 102), rgb(226, 173, 73));
        grid-column-start: 1;
        grid-column-end: 2;  
      }
      .box7{
        background-color: red;
        background-image: linear-gradient(to bottom left,   rgb(202, 82, 102), rgb(226, 173, 73));
        grid-column-start: 2;
        grid-column-end: 3;  
      }
      .box8{
        background-color: purple;
      background-image: linear-gradient(to bottom left, purple, rgb(204, 40, 163),rgb(233, 179, 188));
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;  
      }
      .box9{ background-color: red;
        background-image: linear-gradient(to bottom left, rgb(202, 82, 102), rgb(226, 173, 73));
        grid-column-start: 5;
        grid-column-end: 6;  
      }
      .box10{
        background-color: red;
        background-image: linear-gradient(to bottom left,  rgb(202, 82, 102), rgb(226, 173, 73));
        grid-column-start: 6;
        grid-column-end: 7;  
      }
      .box1:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
      
    .box2:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    
    .box3:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    
    .box4:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    
    .box7:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
       
    
    .box5:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    
    .box6:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    .box8:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    .boxo9:hover{
        background-color: #48E3FA;
        z-index: 0;
    }
    .box10:hover{
        background-color: #30a8bb;
        z-index: 0;
        
    }
     